<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <button type="button" hx-get="http://localhost:5000">
      Make a GET Request
    </button>

    <button type="button" hx-post="http://localhost:5000">
      Make a POST Request
    </button>
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
